apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: udagram-api-user-hpa
  namespace: udagram
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: udagram-api-user
  minReplicas: 2
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
